    <h1><u>About this programme</u></h1>
    <!--<p> meessage from the About Controller  {{message}}</p>-->
    <div> 
    <ul style="list-style-type:square">
        <li>Cognitive interventions also known as cognitive retraining or cognitive rehabilitation are known to improve cognitive abilities</li>
        <li>Is based on principles of neuronal plasticity</li>
        <li>Different for age groups as well as for different types of brain injury/insult</li>
        <li>Children with developmental delays respond well to inputs</li>
        <li>Response allows their developmental trajectories to change</li>
    </ul>
    </>
    </div>

    <div>
    <h2>Mechanism of intervention</h2>
    
        <ul style="list-style-type:square">
            <li>Multiple domains</li>
            <li>Varying levels of difficulty</li>
            <li>Several activities are specifically created by the authors for specific clients/diagnostic conditions</li>
            <li>Activities tap several domains of cognition</li>
            <li>No one activity can be used exculsively for intervention- always a combination of activities used</li>
            <li>Activities tap several domains of cognition</li>
            <li> Has to be tailor made to suit the needs of the client</li>
        </ul>
    </div>
<div>
    <h4> Domain covered</h4>
    <ul>
        <li>Attention </li>
        <li>Working memory </li>
        <li>Mental flexibility </li>
        <li>Interference control/inhibition control</li>
        <li>Fluency </li>
        <li>Visuo-spatial functions </li>
        <li>Planning </li>
        <li>Problem solving abilities </li>
    </ul>
</div>

<div>
    <h4> Layout for each session    </h4>
    <ul>
        <li>A set of five to seven activities are planned for each day </li>
        <li>Each session typically lasts from 45 minutes to one hour in the beginning and can go up to about 60 to 70 minutes in later stages </li>
        <li>Targets for each activity in each session is set based on the child’s performance in the previous sessions </li>
        <li>A minimum of 4 activities must be completed by a given client </li>
        <li>Each activity is usually carried out for a minimum of 10 minutes. </li>
    </ul>
</div>
