<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Connect Shapes</title>
    <script src="./js/d3.js"></script>
</head>
<body ng-controller="ctrlConnectShapes">
    <embed width="700" height="600" src="./res/switchshape.swf">



    <script>
/*

        function click() {
            alert("circle clicked");
            var obj = d3.mouse(this);
            alert(obj[0]);
            alert(obj[1]);
        }
        function drawLine() {
            console.log("In onMouseMove Event : drawLine()");


        }


        function Circle_Click(){
            alert("Circle clicked");
         
        }

        function rect_click() {
            alert("rect clicked");

        }
        function triangle_click() {
            alert("Triangle click");
        }
*/
        
/*
                <svg width="800" height="500" onmousemove="drawLine()">
                    <rect x="150" y="100" width="800" height="100" stroke-width:2 fill="lightblue" />
                            <circle id="c1" cx="200" cy="150" r="40" stroke-width="1" fill="yellow" onclick="click()" />
                            <rect x="250" y="110" width="100" height="80" stroke-width:2 fill="yellow" />
                            <circle cx="400" cy="150" r="40" stroke-width="1" fill="yellow" />
                            <rect x="450" y="110" width="100" height="80" stroke-width:2 fill="yellow" />
                            <circle cx="600" cy="150" r="40" stroke-width="1" fill="yellow" />
                            <circle cx="690" cy="150" r="40" stroke-width="1" fill="yellow" />

                    <rect x="150" y="200" width="800" height="100" stroke-width:2 fill="blue" />
                            <rect x="160" y="210" width="100" height="80" stroke-width:2 fill="yellow" />

                    <rect x="150" y="300" width="800" height="100" stroke-width:2 fill="lightgreen" />
                            <circle cx="200" cy="350" r="40" stroke-width="1" fill="yellow" />
                            <rect x="250" y="310" width="100" height="80" stroke-width:2 fill="yellow" />
                </svg>
    
                    <circle cx="50" cy="50" r="40" stroke-width="1" fill="lightblue" onfocusin="" onclick="Circle_Click()" />
                    <rect x="100" y="100" width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" onclick="rect_click()" />
                    <polygon points="100,0 100,100 150,100" fill="lighblue" onclick="triangle_click()" />
        */


    </script>
 
</body>
</html>